{% extends "proxy.j2" %}

{% block server %}
server {

    listen       {{ item.listen | default('8080') }};
    server_name {{ server_name }} {{ server_name_redirect }};
    root {{ item.root }};
    index {{ index }};

    access_log {{ access_log }};
    error_log {{ error_log }} error;

{% block locations %}{% endblock %}

}
{% endblock %}

